@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Dashboard Sidebar */
.sidebar{
    position: fixed;
    width: 10vw;
    height: 100vh;
    background-color: #03045E;
    box-shadow: 10px 10px 30px #00000029;
    overflow-y: auto;
  }
  .sidebarElements ul{
    background-color: #03045E;
    height: 90vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    
  }
  .sidebarElements ul li{
    height: 40px;
    width: 40px;
    margin: auto;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .inactive{
    color: #afaeae;
    text-decoration: none;
  }
  .inactive .svgIcon{
    fill: #afaeae;
  }
  .active{
    color: #fbfbfb;
    text-decoration: none;
  }
  .active .svgIcon{
    fill: #fbfbfb;
  }
  .icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .sidebarMobile{
    display: none;
  }
  

/* Dashboard */
.Dashboard{
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    overflow: hidden;
}
.dashboardContent{
  width: 90vw;
  height: 100vh;
  position: absolute;
  left: 10vw;
  overflow-x: hidden;
}
.dashboardHeader{
  height: 8%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.user{
  width: 40%;
  margin-right: 10%;
  margin-left: 20px;
  display: flex;
}
.avatar{
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
.name{
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}
.name p{
  margin-right: 8px;
}
.greeting{
  color: #707070;
  font-size: 16px;
}
.user-name{
  color: #03045E;
  font-weight: bold;
  font-size: 18px;
}
.headerIcons{
  width: 10%;
  margin-left: 10%;
  margin-right: 0;
  display: flex;
  align-items: center;
}
.searchIcon{
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
  color: #03045E;
}
.notificationIcon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.months{
  width: 100%;
  height: 10%;
  margin-top: 10px;
}
.months ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}
.inactiveMonth{
  list-style: none;
  background-color: #E4E4E4;
  width: 80px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  color: #000000;
}
.activeMonth{
  list-style: none;
  background-color: #03045E;
  width: 80px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  color: #fbfbfb;
}

.months ul li p{
  padding-top: 1px;
  height: 100%;
  width: 80px;
  border-radius: 15px;
  cursor: pointer;
}
.months ul li :hover{
  background-color: #03045E;
  color: #fbfbfb;
}
.months-mobile{
  display: none;
}
.transactions{
  width: 100%;
  height: 16vh;
  margin-top: 20px;
}
.selectTransactions{
  height: 40px;
  width: 180px;
  margin: auto;
}
.selectTransactions select{
  /* margin-top: 5px; */
  width: 100%;
  height: 30px;
  background-color: #fbfbfb;
  font-family: 'Nunito Sans', sans-serif;
  color: #6F6F6F;
  outline: none;
  border: none;
}
.transactionsAmount{
  width: 40%;
  margin: auto;
}
.path{
  position: relative;
  width: 100%;
  height: 100%;
}
.pathSvg{
  position: absolute;
  width: 100%;
  margin: auto;
}
.amount{
  position: absolute;
  top: 5px;
  left: 40%;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
}
.animation{
  width: 300px;
  height: 300px;
}
.importFile{
  width: 70%;
  height: 20vh;
  margin: auto;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  padding-bottom: 30px;
}
.importFile input{
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: #03045E;
  color: #fbfbfb;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.importFile input:hover{
  background-color: #fbfbfb;
  border: 2px solid #03045E;
  color: #03045E;
}
.addfile{
  width: 48px;
  height: 48px;
  margin-top: 10px;
  color: #03045E;
  margin: auto;
  margin-bottom: 30px;
}
.addBtn{
  cursor: pointer;
  height: 48px;
  width: 48px;
}

/* Consent Pop up window */
.consent{
  position: absolute;
  background-color: rgba(3,4,94, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
  animation-duration: 2s;
  animation-name: fadeinup;
  transition: all 3s ease-in;
}

@keyframes fadeinup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.close{
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: 20px;
  cursor: pointer;
}
.closeIcon{
  color: #fbfbfb;
  position: absolute;
  top: 5px;
  left: 90vw;
  height: 40px;
  width: 40px;
}
.consentPopupWindow{
  width: 50%;
  height: 110vh;
  background-color: #fbfbfb;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
}
.consentPopupWindow h3{
  margin-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.consentPopupWindow h4{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.consentPopupWindow p{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 10px;
  color: #03045E;
}
.privacypolicylink{
  color: #03045E;
  font-weight: bold;
}
.consentPopupWindow input{
  width: 38%;
  height: 50px;
  margin-left: 31%;
  margin-top: 20px;
  background-color: #03045E;
  color: #fbfbfb;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.consentPopupWindow input:hover{
  background-color: #fbfbfb;
  border: 2px solid #03045E;
  color: #03045E;
}
.consentPopupWindow input:disabled{
  background-color: #344b71;
}

/* Add Transactions */
.AddTransactions{
  width: 70%;
  margin-left: 15%;
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-right: 15%;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Nunito Sans', sans-serif;
}
.transactionsHeader{
  width: 100%;
  height: 10%;
  display: flex;
  margin-bottom: 10px;
}
.transactionsHeader p{
  margin-left: 15px;
  margin-top: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.backArrow{
  height: 30px;
  width: 30px;
  margin-top: 30px;
  margin-left: 3%;
  cursor: pointer;
}
.transactionBtns{
  width: 40%;
  height: 12vh;
  margin: auto;
}
.transactionBtns ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.transactionBtns ul li{
  list-style: none;
  margin-right: 5px;
}
.transactionBtns p{
  position: absolute;
  top: 30%;
  left: 22%;
}
.activeBtn{
  background-color: #03045E;
  color: #fbfbfb;
  position: relative;
  width: 104px;
  height: 52px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.inactiveBtn{
  background-color: #F7F7F7;
  color: #707070;
  position: relative;
  width: 104px;
  height: 52px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.transactionDetails{
  width: 60%;
  margin: auto;
  text-align: center;
}
.transactionDetails p{
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
.transactionDetails ul li{
  list-style: none;
  width: 328px;
  margin: auto;
}
.detail{
  background-color: #F7F7F7;
  border-radius: 10px;
  display: flex;
  text-align: left;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.detail img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 15px;
}
.addNote{
  display: flex;
}
.detail input{
  height: 40px;
  width: 200px;
  margin-left: 5px;
  margin-bottom: 16px;
  border: none;
  outline: none;
  padding-bottom: 0;
  font-size: 16px;
  padding-left: 5px;
  padding-top: 15px;
}
.Categorycheckbox{
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}
.time{
  display: flex;
  text-align: left;
  height: 70px;
  width: 328px;
  margin: auto;
  background-color: #F7F7F7;
  border-radius: 10px;
  cursor: pointer;
}
.time img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 15px;
}
.saveBtn{
  margin-top: 20px;
  margin-bottom: 20px;
}
.saveBtn input{
  width: 328px;
  height: 50px;
  background-color: #03045E;
  color: #fbfbfb;
  font-size: 18px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-radius: 23px;
  cursor: pointer;
}

/* Add Amount */
.AddAmount{
  width: 100vw;
  height: 150vh;
  background-color: #fbfbfb;
  position: absolute;
  z-index: 99;
  overflow-y: hidden;
  font-family: 'Nunito Sans', sans-serif;
}
.addAmountCard{
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #fbfbfb;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
.closeAmount{
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: 10px;
}
.closeAmountIcon{
  color: #000000;
  position: absolute;
  top: 5px;
  left: 90vw;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.addAmountCard h3{
  text-align: center;
  padding-top: 15%;
  padding-bottom: 20px;
  color: rgba(3,4,94, 0.5);
  font-size: 28px;
  font-weight: bolder;
}
.addAmountCard form{
  width: 328px;
  margin: auto;
}
.amountfield{
  width: 328px;
  height: 40px;
}
.amountBtn{
  width: 328px;
  height: 50px;
  background-color: #03045E;
  border-radius: 23px;
  color: #fbfbfb;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.amountBtn :disabled{
  background-color: #344b71;
}

 /* Create Categories */
 .categories{
  width: 100vw;
  height: 150vh;
  background-color: #fbfbfb;
  position: absolute;
  z-index: 99;
  overflow-y: hidden;
  font-family: 'Nunito Sans', sans-serif;
}
.closeCategories{
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: 10px;
  cursor: pointer;
}
.categoriesIcon{
  color: #000000;
  position: absolute;
  top: 5px;
  left: 90vw;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.categoriesCard{
  width: 50%;
  height: 70%;
  margin: auto;
  background-color: #fbfbfb;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
.categoriesCard h3{
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #03045E;
  font-weight: bold;
}
.general{
  width: 90%;
  height: 40%;
  margin: auto;
  background-color: #E4E4E4;
}
.general h4{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  font-size: 20px;
  color: #03045E;
}
.generalCategories{
  width: 90%;
  height: 70%;
  margin: auto;
  font-weight: bold;
}
.generalCategories ul{
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
.generalCategories ul li{
  list-style: none;
  width: 120px;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}
.generalCategories ul li img{
  margin-top: 3px;
}
.inactiveCategory{
  width: 100%;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-right: 8px;
  cursor: pointer;
}
.activeCategory{
  border: 2px solid #03045E;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}
.bills{
  width: 90%;
  height: 30%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E4E4E4;
}
.bills h4{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
  font-size: 20px;
  color: #03045E;
}
.billCategories{
  width: 90%;
  height: 60%;
  margin: auto;
  font-weight: bold;
}
.billCategories ul{
  height: 100%;
  width: 100%;
  display: flex;
}
.billCategories ul li{
  list-style: none;
  width: 120px;
  margin-right: 10px;
  margin-top: 20px;
}
.billCategories ul li img{
  margin-top: 3px;
}
.createBtn{
  width: 328px;
  height: 50px;
  margin: auto;
}
.createBtn input{
  width: 328px;
  height: 50px;
  border-radius: 23px;
  cursor: pointer;
  background-color: #03045E;
  color: #fbfbfb;
  font-size: 18px;
  border: none;
}


/* Set date and Time */
.setDate{
  width: 100vw;
  height: 150vh;
  background-color: #fbfbfb;
  position: absolute;
  z-index: 99;
  overflow-y: hidden;
  font-family: 'Nunito Sans', sans-serif;
}
.closeSetDate{
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: 10px;
  cursor: pointer;
}
.closeSetDateIcon{
  color: #000000;
  position: absolute;
  top: 5px;
  left: 90vw;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.setDateCard{
  width: 50%;
  height: 40%;
  margin: auto;
  background-color: #fbfbfb;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
.setDateCard h3{
  text-align: center;
  font-size: 24px;
  color: #03045E;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 20px;
}
.dateInput{
  width: 328px;
  height: 50px;
  margin: auto;
}
.datePicker{
  width: 328px;
  height: 50px;
}






/* Expenses */
.Expenses{
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
}
.expensesContent{
  width: 90vw;
  height: 100vh;
  position: absolute;
  left: 10vw;
  overflow-x: hidden;
}
.expenseHeader{
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
}
.expenseTitle{
  height: 100%;
  width: 60%;
  margin-left: 3%;
}
.expenseTitle p{
  color: #707070;
  font-size: 16px;
  margin-top: 10px;
}
.expenseTitle h3{
  font-weight: bold;
  color: #03045E;
  font-size: 24px;
}
.settings{
  width: 25%;
  height: 100%;
  margin-right: 5%;
  justify-content: left;
  text-align: left;
}
.settingsIcon{
  height: 35px;
  width: 35px;
  color: #03045E;
  margin-left: 85%;
  margin-top: 10px;
  cursor: pointer;
}
.filterExpenses{
  position: relative;
  width: 100%;
  height: 10vh;
  margin-top: 10px;
}
.toggleBtn{
  width: 40%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 3%;
  display: flex;
  border-radius: 30px;
}

.filterbyWeekly{
  position: absolute;
  width: 70%;
  height: 100%;
  z-index: 99;
  background-color: #03045E;
  color: #fbfbfb;
  cursor: pointer;
  border-radius: 30px;
}
.filterbyWeekly p{
  position: absolute;
  height: 20%;
  top: 20%;
  left: 40%;
  font-size: 20px;
}
.inactiveFilterbyWeekly{
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #E4E4E4;
  color: #6F6F6F;
  cursor: pointer;
  border-radius: 30px;

}
.inactiveFilterbyWeekly p{
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 20px;
}
.filterbyMonthly{
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #03045E;
  color: #fbfbfb;
  text-align: right;
  border-radius: 30px;
  z-index: 99;
  left: 30%;
}
.filterbyMonthly p{
  position: absolute;
  height: 20%;
  top: 20%;
  left: 40%;
  font-size: 20px;
}
.inactiveFilterbyMonthly{
  position: absolute;
  width: 40%;
  height: 100%;
  left: 60%;
  background-color: #E4E4E4;
  color: #6F6F6F;
  cursor: pointer;
  text-align: right;
  border-radius: 30px;
}
.inactiveFilterbyMonthly p{
  position: absolute;
  top: 20%;
  right: 20%;
  font-size: 20px;
}
.expenditurePieChart p{
  margin-left: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #03045E;
}
.piechartCard{
  width: 70%;
  height: 40vh;
  margin-left: 3%;
  background-color: #F7F7F7;
  border-radius: 10px;
}
.expenditureBargraph p{
  margin-left: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #03045E
}
.bargraphCard{
  width: 70%;
  height: 60vh;
  margin-left: 3%;
  background-color: #F7F7F7;
  border-radius: 10px;
}
.categoriesPieChart p{
  margin-left: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #03045E
}
.categoriesPiechartCard{
  width: 70%;
  height: 40vh;
  margin-left: 3%;
  background-color: #F7F7F7;
  margin-bottom: 20px;
  border-radius: 10px;
}









/* Budget */
.Budget{
  display: flex;
  width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
}
.budgetContent{
  background-color: #fbfbfb;
  position: absolute;
  width: 90%;
  left: 10%;
}
.budgetHeader{
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.budgetTitle{
  height: 100%;
  width: 60%;
  margin-left: 3%;
}
.budgetTitle p{
  color: #707070;
  font-size: 16px;
  margin-top: 10px;
}
.budgetTitle h3{
  font-weight: bold;
  color: #03045E;
  font-size: 24px;
}
.budgetOverview{
  width: 70%;
  height: 80vh;
  margin-left: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #F7F7F7;
  border-radius: 10px;
}
.budgetOverview p{
  color: #707070;
  font-size: 16px;
  padding-top: 10px;
  margin-left: 20px;
}
.detailedBreakdown{
  width: 70%;
  height: 60vh;
  margin-left: 3%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.detailedBreakdownTitle{
  color: #707070;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.detailedBreakdown ul{
  width: 80%;
  height: 80%;
  margin: auto;
}
.detailedBreakdown ul li{
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 70px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: #F7F7F7;
  border-radius: 10px;
}
.detailDescription{
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 12px;
}
.detailDescription p{
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: #707070;
  margin-left: 5px;
}
.budgetAmount{
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  color: #03045E;
  margin-right: 10px;
}


/* History */
.History{
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
}
.historyContent{
  background-color: #fbfbfb;
  position: absolute;
  width: 90%;
  left: 10%;
}
.historyHeader{
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.historyTitle{
  height: 100%;
  width: 60%;
  margin-left: 3%;
}
.historyTitle p{
  color: #707070;
  font-size: 16px;
  margin-top: 10px;
}
.historyTitle h3{
  font-weight: bold;
  color: #03045E;
  font-size: 24px;
}
.transactionsHistoryGraph{
  width: 70%;
  height: 80vh;
  margin-left: 3%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #F7F7F7;
  border-radius: 10px;
}
.totalMonthlyTransactions{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 3%;
}
.monthName{
  color: #707070;
  font-size: 20px;
  margin-top: 10px;
}
.total{
  margin-top: 10px;
  color: #03045E;
  font-weight: bold;
  font-size: 20px;
}
.historyBreakdown{
  background-color: #F7F7F7;
  width: 70%;
  height: 60vh;
  margin-left: 3%;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
}



/* Mobile */
@media screen and (max-width: 600px) and (min-width: 280px){
  .dashboardElements{
    display: inline-block;
    flex-direction: column;
  }
  .sidebar{
    display: none;
  }
  .sidebarMobile{
    display: block;
    height: 8vh;
    width: 100%;
  }
  .sidebarMobileElements{
    background-color: #03045E;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    box-shadow: 10px 10px 30px #00000029;
  }
  .sidebarMobileElements ul{
    display: flex;
    justify-content: space-around;
  }
  .sidebarMobileElements ul li{
    list-style: none;
    padding-top: 2vh;
    height: 40px;
    width: 40px;
  }
  .svgIcon{
    width: 100%;
    height: 100%;
  }
  .icon{
    width: 100%;
    height: 100%;
  }
  .inactive{
    color: #afaeae;
    text-decoration: none;
  }
  .inactive .svgIcon{
    fill: #afaeae;
  }
  .active{
    color: #fbfbfb;
    text-decoration: none;
  }
  .active .svgIcon{
    fill: #fbfbfb;
  }
 
  .dashboardContent{
    width: 100vw;
    left: 0;
  }
  .dashboardHeader{
    margin-top: 20px;
  }
  .user{
    width: 70%;
  }
  .greeting{
    font-size: 13.5px;
  }
  .headerIcons{
    width: 20%;
  }
  .months{
    display: none;
  }
  .months-mobile{
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: auto;
    overflow-y: hidden;
  /* -webkit-overflow-scrolling: touch; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 30px;
  
  }
  .months-mobile::-webkit-scrollbar{
    display: none;
  }
  .months-mobile ul{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    white-space:nowrap;
  }
  .addfile{
    margin-top: 30px;
  }
  

  .months-mobile ul li{
    cursor: pointer;
    list-style: none;
    width: 100%;
     margin:10px 10px 50px 10px; 
    display: inline-block;
  }
  .activeMonth-mobile{
    list-style: none;
    background-color: #03045E;
    color: #fbfbfb;
    width: 80px;
    height: 25px;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
  }
  .inactiveMonth-mobile{
    background-color: #E4E4E4;
    color: #000000;
    width: 80px;
    height: 25px;
    text-align: center;
    border-radius: 15px;
  }
  .amount{
    font-size: 18px;
    left: 40px;
  }
  .close{
    right: 30px;
  }
  .consentPopupWindow{
    width: 90%;
    height: 140vh;
  }

  /* Add Transactions */
  .AddTransactions{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
  }
  .transactionBtns{
    margin-left: 2rem;
  }
  .transactionDetails{
    width: 90%;
    margin-left: 2rem;
    text-align: left;
    margin-right: 2rem;
  }
  .detail{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .Categorycheckbox{
    margin-left: 0;
    width: 90%;
  }
  .time{
    margin-left: 0;
  }
  .saveBtn{
    margin-left: 0;
  }

  /* Add Amount */
  .AddAmount{
    width: 100vw;
    background-color: rgba(0,0,0, 0.5);
    overflow: hidden;
  }
  .closeAmount{
    margin-bottom: 20%;
    right: 30px;
  }
  .closeAmountIcon{
    color: #fbfbfb;
  }
  .addAmountCard{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: none;
    margin-right: 5px;
  }

  /* Create Category */
  .categories{
    background-color: rgba(0,0,0, 0.5);
  }
  .closeCategories{
    right: 30px;
  }
  .categoriesIcon{
    color: #fbfbfb;
  }
  .categoriesCard{
    width: 98%;
    height: 100%;
    border-radius: 30px 30px 0 0;
    margin-left: 0;
  }

  /* Expenses */
  .expensesContent{
    width: 100%;
    left: 0;
  }
  .expenseHeader{
    width: 92%;
   margin: auto;
  }
  .toggleBtn{
    width: 90%
  }
  .piechartCard{
    width: 90%;
  }
  .bargraphCard{
    width: 90%;
  }
  .categoriesPiechartCard{
    width: 90%;
  }
  
  /* Budget */
  .budgetContent{
    width: 100%;
    left: 0;
  }
  .budgetHeader{
   width: 92%;
   margin: auto;
  }
  .budgetOverview{
    width: 80%;
  }
  .detailedBreakdown{
    width: 80%;
  }
  .settingsIcon{
    right: 20px;
  }

  /* History */
  .historyContent{
    width: 100%;
    left: 0;
  }
  .monthName{
    font-size: 16px;
  }
  .total{
    font-size: 16px;
  }

  
}


/* Tablet */
@media screen and (max-width: 1024px) and (min-width: 600px){
  body{
    overflow-y: scroll;
  }
  .sidebar{
    display: none;
  }
  .sidebarMobile{
    display: block;
    height: 8vh;
    width: 100%;
  }
  .sidebarMobileElements{
    background-color: #03045E;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    box-shadow: 10px 10px 30px #00000029;
  }
  .sidebarMobileElements ul{
    display: flex;
    justify-content: space-around;
  }
  .sidebarMobileElements ul li{
    list-style: none;
    padding-top: 2vh;
    height: 40px;
    width: 40px;
  }
  .svgIcon{
    width: 100%;
    height: 100%;
  }
  .icon{
    width: 100%;
    height: 100%;
  }
  .dashboardContent{
    width: 100%;
    left: 0;
    overflow-x: hidden;
  }
  .user{
    width: 70%;
  }
  .greeting{
    font-size: 13.5px;
  }
  .headerIcons{
    width: 20%;
  }
  .months{
    display: none;
  }
  .months-mobile{
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: auto;
    overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 30px;
  
  }
  .months-mobile::-webkit-scrollbar{
    display: none;
  }
  .months-mobile ul{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    white-space:nowrap;
  }
  .months-mobile ul li{
    cursor: pointer;
    list-style: none;
    width: 100%;
     margin:10px 10px 50px 10px; 
    display: inline-block;
  }
  .activeMonth-mobile{
    list-style: none;
    background-color: #03045E;
    color: #fbfbfb;
    width: 80px;
    height: 25px;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
  }
  .inactiveMonth-mobile{
    background-color: #E4E4E4;
    color: #000000;
    width: 80px;
    height: 25px;
    text-align: center;
    border-radius: 15px;
  }
  .addfile{
    margin-top: 20px;
  }
  .amount{
    font-size: 18px;
    left: 30%;
  }
  .close{
    right: 30px;
  }
  .consentPopupWindow{
    width: 80%;
    height: 120vh;
  }

   /* Add Transactions */
   .AddTransactions{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
    overflow-y: scroll;
  }

  /* Add Amount */
  .AddAmount{
    width: 100vw;
    background-color: rgba(0,0,0, 0.5);
    overflow: hidden;
  }
  .closeAmount{
    margin-bottom: 10%;
    right: 30px;
  }
  .closeAmountIcon{
    color: #fbfbfb;
  }
  .addAmountCard{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: none;
    margin-right: 5px;
  }

  /* Create Category */
  .categories{
    background-color: rgba(0,0,0, 0.5);
  }
  .closeCategories{
    right: 30px;
  }
  .categoriesIcon{
    color: #fbfbfb;
  }
  .categoriesCard{
    width: 99%;
    height: 100%;
    border-radius: 30px 30px 0 0;
    margin: auto;
  }

 
 

  /* Expenses */
  .expensesContent{
    width: 100%;
    left: 0;
  }
  .expenseHeader{
    margin-top: 20px;
  }
  .toggleBtn{
    width: 80%;
  }
  .piechartCard{
    width: 80%;
  }
  .bargraphCard{
    width: 80%;
  }
  .categoriesPiechartCard{
    width: 80%;
  }


  /* Budget */
  .budgetContent{
    width: 100%;
    left: 0;
  }
  .budgetHeader{
   width: 92%;
   margin: auto;
  }
  .budgetOverview{
    width: 80%;
  }
  .detailedBreakdown{
    width: 80%;
  }
  .settingsIcon{
    right: 20px;
  }

  /* History */
  .historyContent{
    width: 100%;
    left: 0;
  }
  .monthName{
    font-size: 16px;
  }
  .total{
    font-size: 16px;
  }
  
}
